<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <script src="https://kit.fontawesome.com/d46d3f6d6e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/morph/bootstrap.min.css" integrity="sha512-Nd3lZDftpGFIyfIz/Snlz7SzhEycjmHkNn3s2dmhrVyY55uJnTE+UiK75+CeXltD5GmU7c9n/JMDWaEwGQjowQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id Editorial</th>
            <th scope="col">Nombre</th>
            <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" editorial : ${editoriales}">
            <th scope="row" th:text="${editorial.id}"></th>
            <td th:text="${editorial.nombre}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editorial/modificar/__${editorial.id}__}">Editar</a>  <i class="fa-solid fa-pencil" style="color: #ce5050;"></i></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
