<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/d46d3f6d6e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/morph/bootstrap.min.css" integrity="sha512-Nd3lZDftpGFIyfIz/Snlz7SzhEycjmHkNn3s2dmhrVyY55uJnTE+UiK75+CeXltD5GmU7c9n/JMDWaEwGQjowQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div
        class="container d-flex align-items-center justify-content-center"
>
    <div class="modal-body">
        <form class="col-12 col-md-6  m-auto " th:action="@{/registrar}" method="post" enctype="multipart/form-data">
            <h1 class="text-center mb-3 fw-bold fs-1">REGISTRATE AHORA!</h1>
            <div class="form-floating mb-3">
                <input
                        type="text"
                        class="form-control rounded-3"
                        id="uno"
                        placeholder="Nombre"
                        name="nombre"
                        th:value="${nombre}"
                />
                <label for="uno">Nombre</label>

            </div>
            <div class="form-floating mb-3">
                <input
                        type="email"
                        class="form-control rounded-3"
                        id="dos"
                        placeholder="Email"
                        name="email"
                        th:value="${email}"
                />
                <label for="dos">Email</label>
            </div>
            <div class="mb-3">
                <input class="form-control" type="file" name="archivo">
            </div>
            <div class="form-floating mb-3">
                <input
                        type="password"
                        class="form-control rounded-3"
                        id="tres"
                        placeholder="Password"
                        name="password"
                        th:value="${password}"
                />
                <label for="tres">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input
                        type="password"
                        class="form-control rounded-3"
                        id="cuatro"
                        placeholder="Password"
                        name="password2"
                        th:value="${password2}"
                />
                <label for="cuatro">Ingrese de vuelta el Password</label>
            </div>
            <p class="text-danger" th:text="${error}" th:if="${error != null}"></p>
            <button
                    class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success"
                    type="submit"
            >
                REGISTRARSE
            </button>
            <small class="text-body-secondary"
            >Todos los derechos reservados por superman.</small
            >
        </form>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>